@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: 'Chango', cursive;
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)
    );
}

.wrapper > h1 {
    font-size: 3rem;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    align-items: center;
    row-gap: 50px;
}

.memes-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 50px;
    
}

form {
    padding: 5rem;
    background-color: white;
    margin-top: 2rem;
    width: 90%;
    border-radius: 50px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;  
}
 
form > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

form > div > input {
    width: 75%;
}

input[type="submit"] {
    width: auto;
    padding: .8rem 1.7rem ;
    border-radius: 100px;
    margin-left: auto;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 1.1rem;
    cursor: pointer; 
    background-color: rgb(206, 206, 206);  
}

input[type="submit"]:hover {
    color: white;
    background-color: black;
}

input[type="text"] {
    padding: 0.7rem;
    border-radius: 50px;
    outline: none; 
    border-color: black; 
}

input[placeholder],
input[value] {
    font-family: inherit;
}



.visible {
    display: block;
}
.invisible {
    display: none;
}

.error {
    color: red;
}


.image-cls:hover {
    opacity: 0.2;
    cursor: pointer;
}

